<%= form_for(@dummy_resource) do |f| %>
  <% if @dummy_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dummy_resource.errors.count, "error") %> prohibited this dummy_resource from being saved:</h2>

      <ul>
      <% @dummy_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :suck %><br />
    <%= f.text_field :suck %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
