<h1>Listing dummy_resources</h1>

<table>
  <tr>
    <th>Suck</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dummy_resources.each do |dummy_resource| %>
  <tr>
    <td><%= dummy_resource.suck %></td>
    <td><%= link_to 'Show', dummy_resource %></td>
    <td><%= link_to 'Edit', edit_dummy_resource_path(dummy_resource) %></td>
    <td><%= link_to 'Destroy', dummy_resource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dummy resource', new_dummy_resource_path %>
